.achievements {
    padding-bottom: 140px;
}

.achievements__row {
    display: flex;
}

.achievements__column:first-child {
    margin-right: 36px;
}

.achievements__badge {
    margin-bottom: 10px;
}

.achievements__title {
    margin-bottom: 140px;  
}

.achievements__data-grid {
    margin-bottom: 70px;
    padding-top: 91px;
}
