.achievements {
    padding-bottom: 140px;
}

.achievements__row {
    display: flex;
    column-gap: 56px;
}

.achievements__column:first-child {
    width: 540px;
}

.achievements__badge {
    margin-bottom: 10px;
}

.achievements__title {
    margin-bottom: 133px;
}

.achievements__data-grid {
    margin-bottom: 70px;
    padding-top: 91px;
    padding-left: 52px;

    &--mobile {
        display: none;
    }
}

.achievements__btn {
    width: 245px;

    &--mobile {
        display: none;
    }
}