.footer {
    padding-top: 35px;
    padding-bottom: 70px;
    color: #124F48;
    background-color: #e9fbf9;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 8px;
}

.footer__text {
    font-size: 12px;
    color: #ff823b;

    p+p {
        margin-top: 5px;
    }
}

.footer-nav__list {
    display: flex;

    li:not(:last-child) {
        margin-right: 70px;
    }

    a {
        font-size: 18px;
        color: #124f48;
        transition: all 0.2s ease-in;
    }

    a:hover {
        font-weight: 700;
        color: #ff823b;
    }
}

.footer-contact__list {
    font-size: 18px;
    line-height: 2;

    a {
        color: #124f48;
        transition: all 0.2s ease-in;

        &:hover {
            color: #ff823b;
        }
    }
 
}

