.footer {
    color: #124F48;
    background-color: #e9fbf9;
}

.footer__top {
    padding-top: 35px;
    padding-bottom: 70px;
}

.footer__bottom {
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #124F48;
    color: #fff;
}


.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo-wrapper {
    height: 64px;
    width: 157px;
    cursor: pointer;
}

.footer__logo {
    margin-bottom: 8px;
}

.footer__text {
    display: block;
    font-size: 12px;
    color: #ff823b;

    p+p {
        margin-top: 5px;
    }
}

.footer__nav {
    display: flex;

    li:not(:last-child) {
        margin-right: 70px;
    }

    a {
        font-size: 18px;
        color: #124f48;
        transition: all 0.2s ease-in;
    }

    a:hover {
        color: #ff823b;
        text-shadow: -0.7px 0 0.1px #ff823b;
    }
}

.footer__contact {
    font-size: 18px;
    line-height: 2;

    a {
        color: #124f48;
        transition: all 0.2s ease-in;

        &:hover {
            color: #ff823b;
        }
    }

}

.footer__copyright {
    font-size: 18px;
    color: #fff;
    font-family: var(--font-secondary);
}