.header {
    position: relative;
    height: 850px;
}

.header__widget {
    position: absolute;
    bottom: 45px;
    right: 50%;
    transform: translateX(107%);
}

.header__content {
    padding-top: 53px;
    // width: 1180px;
    overflow: hidden;
    margin-left: 110px;

    position: relative;
}

.header__text {
    padding-top: 20px;
    position: absolute;
    width: 570px;
}

.header__badge {
    margin-bottom: 30px;
}

.header__title {
    margin-bottom: 40px;
}

.header__desc {
    margin-bottom: 51px;
    max-width: 428px;

    font-size: 18px;
    line-height: 1.67;

    p+p {
        margin-top: 10px;
    }
}

.header__hero {
    height: 677px;

    background-image: url('./../img/header/hero@2x.png');
    background-position: center center; // x y
    background-size: cover;
    background-repeat: no-repeat;

}

.header__buttons {
    display: flex;
    column-gap: 55px;
}