.header {
    padding-bottom: 125px;
}

.header__content {
    position: relative;
}

.header__widget {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(10%, -30%);
}

.header__text {
    width: 570px;
}

.header__badge {
    margin-bottom: 30px;
}

.header__title {
    margin-bottom: 43px;
}

.header__desc {
    margin-bottom: 50px;
    max-width: 428px;

    font-size: 18px;
    line-height: 1.67;

    p+p {
        margin-top: 10px;
    }
}

.header__buttons {
    display: flex;
    column-gap: 55px;
}