.header-top {
    padding-top: 40px;
    padding-bottom: 70px;
}

.header-top__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1094px;
}

.header-top__logo {
    margin-right: 153px;
    display: inline-block;
}

.header-top__btn {
    margin-left: auto;
}