.header-bg {
    padding-top: 70px;
    padding-bottom: 106px;
    background-image: url('./../img/header/hero@2x.png');
    background-position: right center; // x y
    background-size: contain;
    background-repeat: no-repeat;
}

.header__content {
    position: relative;
}

.header__widget {
    position: absolute;
    right: 209px;
    bottom: -187px;
}

.header__text {
    width: 570px;
}

.header__badge {
    margin-bottom: 30px;
}

.header__title {
    margin-bottom: 40px;
}

.header__desc {
    margin-bottom: 51px;
    max-width: 428px;

    font-size: 18px;
    line-height: 1.67;

    p+p {
        margin-top: 10px;
    }
}

.header__buttons {
    display: flex;
    column-gap: 55px;
}