.achievements {
    padding-bottom: 140px;
}

.achievements__row {
    display: flex;
}

.achievements__column {
    width: 540px;
}

.achievements__badge {
    margin-bottom: 10px;
}

.achievements__title {
    margin-bottom: 140px;  
}

.achievements__btn {
}