.header-top {
    padding-top: 155px;
    padding-bottom: 70px;
}

.header-top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__logo {
}

.header-top__nav {
}

.header-top__btn {
}