.our-clients {
    padding-bottom: 100px;
}

.our-clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 255px;
        height: 103px;
        background-color: #f1faf9;
        border-radius: 10px;
    }
}