.service {
    padding-top: 100px;
    padding-bottom: 160px;
}

.service__header {
    margin-bottom: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__title {
    max-width: 524px;
}

.service__desc {
    max-width: 428px;
    font-size: 18px;
    line-height: 1.67;
    color: var(--text-color);
}

.service-card__row {
    display: flex;
}