@media (max-width: 1325px) {

    .h1 {
        font-weight: 800;
        font-size: 50px;
        line-height: 1.25;
    } 

    .header__text {
        padding-top: 15px;
        width: 470px;
    }
    
    .header__content {
        
    }

    .header__hero {
        width: 800px;
        height: 550px;
        transform: translateX(12%);
        pointer-events: none;

        &::after {
            width: 333px;
            height: 333px;
            left: 50%;
            transform: translateX(-50%);
        }
    
        &::before {
            width: 444px;
            height: 473px;
            top: 0;
            left: -70px;
        }
    }
}