/* Mobile XS */
@media (max-width: 727px) {
    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 28px;
    }

    .h3 {
        font-size: 18px;
    }

    .btn-outline {
        font-size: 14px;
    }

    .data-grid {
        width: 100%;
        height: 280px;
    }

    .data-grid li {
        padding-top: 10px;
        padding-bottom: 10px;
        column-gap: 15px;
        grid-template-columns: 50px 1fr 70px;
    }

    .data-grid li:not(:last-child) {
        margin-bottom: 0px;
    }

    .data-grid__number {
        font-size: 20px;
    }

    .data-grid__title {
        font-size: 16px;
    }

    .nav-mobile {
        align-items: center;
    }

    .nav-icon.nav-icon--active {
        right: 15px;
    }

    .header__content {
        display: flex;
        justify-content: center;
    }

    .header-bg {
        padding-bottom: 310px;
        position: relative;
        @include bgImage ('./../img/header/hero.png');
        background-position: center 110%;
        background-size: 320px auto;
    }

    .header__text {
        padding-top: 0;
        width: 320px;
    }

    .header__title {
        margin-bottom: 15px;
    }

    .header__desc {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .header__buttons {
        column-gap: 20px;
    }

    .btn-solid {
        padding-left: 15px;
        padding-right: 15px;

        width: unset;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .btn-video {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .header__widget {
        display: none;
    }

    /* our clients*/
    .our-clients {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .our-clients__list li {
        width: 140px;
    }

    /* service*/
    .service__header {
        flex-direction: column;
    }

    .service__title {
        margin-bottom: 15px;
        width: unset;
    }

    .service__desc {
        width: unset;
    }

    .service-card {
        width: 100%;
        height: 280px;
    }

    .service-card__title {
        margin-bottom: 15px;
    }

    /* achievements*/
    .achievements__row {
        margin-bottom: 30px;
        flex-direction: column;
        row-gap: 20px;
    }

    .achievements__column:last-child {
        padding-top: 0;
    }

    .achievements__header {
        width: 100%;
    }

    .achievements__title {
        margin-bottom: 25px;
    }

    .achievements-card:last-child {
        padding-top: 0;
    }

    .achievements-card:not(:last-child) {
        margin-bottom: 20px;
    }

    .achievements-card {
        max-width: 290px;
    }

    .achievements-card__img {
        margin-bottom: 20px;
        height: 300px;
        background-position: 51% -500%;
    }

    .achievements-card__img img {
        height: 280px;
        width: 200px;
    }

    .achievements-card__title {
        margin-bottom: 10px;
    }

    .achievements-card__desc {
        font-size: 16px;
    }

    .achievements-card__btn {
        margin-bottom: 20px;
    }

    .achievements__btn .btn-solid {
        width: 175px;
    }

    /* blog, slider */
    .blog {
        padding-bottom: 20px;
    }

    .blog__title {
        margin-bottom: 0;
    }

    .blog__desc {
        margin-bottom: 20px;

        p {
            font-size: 16px;
        }
    }

    .slider__item {
        width: 290px;
    }

    .slider__badge {
        font-size: 16px;
    }

    .slider__img {
        width: 290px;
    }

    .slider__text {
        margin-bottom: 10px;
    }

    .slider__desc {
        font-size: 16px;
    }

    .slider__btn {
        width: 150px;
    }

    /* cta*/
    .cta {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .cta .h2 {
        font-size: 20px;
    }

    .cta__title {
        max-width: 100%;
    }

    .cta__link {
        margin-left: 15px;
    }

    .cta__text {
        font-size: 14px;
    }

    .cta .btn-solid {
        width: 135px;
    }

    /* footer*/
    .footer__row {
        flex-wrap: wrap;
        align-items: center;
        column-gap: 0;
        row-gap: 30px;
    }

    .footer__top {
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .footer__bottom .footer__row {
        justify-content: center;
    }

    .footer__logo-wrapper {
        width: 120px;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer__nav li:not(:last-child) {
        margin-right: 0;
    }

    .footer__nav {
        order: -1;
        flex-grow: 1;
        justify-content: space-between;
    }

    .footer__contact {
        font-size: 12px;
    }


}