/* Mobile XS */
@media (max-width: 727px) {
    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 28px;
    }

    .h3 {
        font-size: 18px;
    }

    .btn-outline {
        font-size: 14px;
    }

    .nav-mobile {
        align-items: center;
    }

    .nav-icon.nav-icon--active {
        right: 15px;
    }

    .header__content {
        display: flex;
        justify-content: center;
    }

    .header-bg {
        padding-bottom: 310px;
        position: relative;
        @include bgImage ('./../img/header/hero.png');
        background-position: center 110%;
        background-size: 320px auto;


    }

    .header__text {
        padding-top: 0;
        width: 320px;
    }

    .header__title {
        margin-bottom: 15px;
    }

    .header__desc {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .header__buttons {
        column-gap: 20px;
    }

    .btn-solid {
        padding-left: 15px;
        padding-right: 15px;

        width: unset;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .btn-video {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .header__widget {
        display: none;
    }

    /* our clients*/
    .our-clients {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .our-clients__list li {
        width: 140px;
    }

    /* service*/
    .service__header {
        flex-direction: column;
    }

    .service__title {
        margin-bottom: 15px;
        width: unset;
    }

    .service__desc {
        width: unset;
    }

    .service-card {
        width: 100%;
    }

}