/* Mobile */
@media (max-width: 989px) {
    .h1 {
        font-size: 35px;
    }

    .h2 {
        font-size: 32px;
    }

    .btn-outline {
        padding-left: 26px;
        padding-right: 26px;

        height: 45px;
        column-gap: 0;
        justify-content: space-between;

        font-size: 16px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .badge {
        padding-left: 10px;
        padding-right: 10px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }

    .header-top {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .header-top .container {
        width: 100%;
    }

    .nav {
        display: none;
    }

    .header-top__btn {
        display: none;

        padding-left: 30px;
        padding-right: 30px;

        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }

    .nav-icon {
        display: flex;
    }

    .nav-icon.nav-icon--active .nav-icon__middle {

        &::before,
        &::after {
            background-color: #fff;
        }
    }

    .nav-mobile {
        z-index: 5;
        position: fixed;

        padding-top: 100px;

        display: flex;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(18, 79, 72, 0.8);

        transform: translateY(-100%);
        transition: transform 0.3s ease-in;

        &.nav-mobile--active {
            transform: translateY(0);
        }
    }

    .nav-mobile__nav {
        text-align: center;
        font-size: 20px;

        li {
            margin-bottom: 25px;
        }

        a {
            color: #fff;
            transition: color 0.2s ease-in;

            &:hover {
                color: #ff823b;
            }
        }
    }

    .header-bg {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__text {
        width: 350px;
    }

    .header__badge {
        margin-bottom: 10px;
    }

    .header__title {
        margin-bottom: 20px;
    }

    .header__desc {
        margin-bottom: 35px;
        max-width: 300px;
        font-size: 16px;
    }

    .header__widget {
        bottom: -20%;
        transform: translate(10%, 0);
    }

    .widget {
        padding: 30px 25px;
        width: 200px;
        height: 200px;
    }

    .btn-solid,
    .btn-video {
        font-size: 16px;
        width: 150px;
    }

    .btn-video {
        padding-left: 45px;
        padding-right: 0;
    }

    /*our clients*/
    .our-clients {
        padding-bottom: 60px;
    }

    .our-clients__list {
        gap: 10px;
    }

    .our-clients__list li {
        width: 175px;
    }

    /* service */
    .service {
        padding-bottom: 30px;
    }

    .service__title {
        max-width: 330px;
    }

    .service__desc {
        margin-left: 0;
        max-width: 330px;
        font-size: 16px;
    }

    .service-card {
        padding: 10px 10px;
        height: 320px;
        width: 230px;
    }

    .service-card__img {
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
    }

    .service-card__title {
        margin-bottom: 25px;
        -webkit-line-clamp: 2;
    }

    .service-card__desc {
        height: 60px;
        font-size: 16px;
        -webkit-line-clamp: 3;
    }


    .service-card__btn {
        width: 165px;
    }

    /*achievements*/
    .achievements {
        padding-bottom: 30px;
    }

    .achievements__header {
        width: 360px;
    }

    .achievements__row {
        margin-bottom: 35px;
        column-gap: 0;
        justify-content: space-between;
    }

    .achievements__data-grid {
        display: none;

        &--mobile {
            display: flex;
            justify-content: center;
        }
    }

    .achievements__column,
    .achievements__column:first-child {
        width: unset;
    }

    .achievements-card {
        max-width: 320px;

        &:last-child {
            padding-top: 150px;
        }
    }

    .achievements-card__title {
        margin-bottom: 30px;
    }

    .achievements-card__img {
        height: 400px;
        background-size: 330px 320px;
        background-position: 51% 230%;
    }

    .achievements-card__img img {
        width: 250px;
        height: 350px;
    }

    .achievements__data-grid {
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .header .container {
        width: 100%;
    }
}