/* Tablet */
@media (max-width: 1199px) {
    .h1 {
        font-size: 50px;
    }

    .h2 {
        font-size: 34px;
    }

    .h3 {
        font-size: 20px;
    }

    .btn-solid {
        padding-left: 25px;
        padding-right: 25px;

    }

    .btn-video {
        padding-right: 25px;
    }

    .data-grid {
        width: 425px;
    }

    .data-grid li:not(:last-child) {
        margin-bottom: 20px;
    }

    .data-grid li {
        padding-top: 15px;
        padding-bottom: 15px;
        column-gap: 20px;
    }

    .data-grid__number {
        font-size: 34px;
    }

    .header-top {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .header-top__row {
        width: unset;

    }

    .header-top__logo {
        margin: 0;
    }

    .header-top__btn {
        margin-left: 0;
    }

    .header-bg {
        padding-top: 50px;
        padding-bottom: 80px;

        @include bgImage ('./../img/header/hero.png');
        background-position: right bottom;
    }

    .header__widget {
        bottom: -40%;
        transform: translate(10%, 0);
    }

    .header__text {
        width: 450px;
    }

    .header__badge {
        margin-bottom: 20px;
    }

    .header__title {
        margin-bottom: 30px;
    }

    .header__desc {
        margin-bottom: 40px;
    }

    .header__buttons {
        column-gap: 40px;
    }

    .widget {
        padding: 35px 30px;
        width: 290px;
        height: 290px;
    }

    /* our clients*/
    .our-clients {
        padding-top: 35px;
        padding-bottom: 80px;
    }

    .our-clients__list {
        justify-content: center;
        gap: 23px;
    }

    .our-clients__list li {
        width: 200px;
        flex-grow: 1;
    }

    /*service*/
    .service {
        padding-bottom: 50px;
    }

    .service-card {
        padding: 20px 15px;
        width: 290px;
    }

    /*achievements*/
    .achievements {
        padding-bottom: 80px;
    }

    .achievements__row {
        column-gap: 40px;
    }

    .achievements__title {
        margin-bottom: 60px;
    }

    .achievements__data-grid {
        margin-bottom: 40px;
        padding-left: 0;
    }

    .achievements-card {
        width: 405px;
    }

    .achievements-card__img {
        margin-bottom: 30px;
        height: 590px;
        background-position: 51% 170%;
        background-size: 400px 400px;
    }

    .achievements-card__img img {
        width: 320px;
        height: 499px;
        top: unset;
        bottom: 0;
    }
}