/* Tablet */
@media (max-width: 1199px) {
    .h1 {
        font-size: 50px;
    }

    .btn-solid {
        padding-left: 25px;
        padding-right: 25px;

    }

    .btn-video {
        padding-right: 25px;
    }

    .header-top {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .header-top__row {
        width: unset;

    }

    .header-top__logo {
        margin: 0;
    }

    .header-top__btn {
        margin-left: 0;
    }

    .header-bg {
        padding-top: 50px;
        padding-bottom: 80px;
        
        @include bgImage ('./../img/header/hero.png');
        background-position: right bottom;
    }

    .header__widget {
        bottom: -40%;
        transform: translate(10%, 0);
    }

    .header__text {
        width: 450px;
    }

    .header__badge {
        margin-bottom: 20px;
    }

    .header__title {
        margin-bottom: 30px;
    }

    .header__desc {
        margin-bottom: 40px;
    }

    .header__buttons {
        column-gap: 40px;
    }

    .widget {
        padding: 35px 30px;
        width: 290px;
        height: 290px;
    }

}