.achievements-card {}

.achievements-card__img {
    margin-bottom: 35px;

    width: 511px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;

    background-color: #edfffd;
    background-image: url('./../img/achievements/circle.svg');
    background-position: 50% 280%; // x y
    background-size: 502px 502px;
    background-repeat: no-repeat;

    img {
        position: relative;
        left: 50%;
        top: 71px;
        transform: translateX(-50%);
        width: 377px;
        height: 529px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 21px 94px 0 rgba(131, 193, 186, 0.38);
        overflow: hidden;
      
    }
}

.achievements-card__text {
    margin-bottom: 45px;
}

.achievements-card__title {
    margin-bottom: 35px;
}


.achievements-card__desc {
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}