.btn {
    display: inline-block;
    padding-left: 39px;
    padding-right: 39px;
    height: 57px;
    border-radius: 32px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 57px;
    color: #fff;

    cursor: pointer;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.9;
    }
}

.btn--login {
    background-color: var(--accent-second);
}

.btn--solid {
    background-color: var(--accent);
}

.btn-video {
    position: relative;
    padding-left: 55px;
    padding-right: 36px;
    height: 57px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #ff823b;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        content: url("./../img/icons/header/play.svg");
        width: 39px;
        height: 39px;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 24px 0 #d6e2e1;
        line-height: 39px;
    }
}

.btn-outline {
    width: 203px;
    height: 57px;

    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 14px;

    border-radius: 31px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #124f48;

    transition: all 0.2s ease;
}

.service-card:hover .btn-outline {
    justify-content: center;
    background-color: #ff823b;
    color: #fff;
}