.service-card {
    display: block;
    width: 364px;
    height: 415px;
    padding: 50px 34px 45px;
    cursor: pointer;
    
    &:hover {
        background-color: #fff;
        box-shadow: 0 20px 84px 0 rgba(245, 245, 245, 0.8);
    }
}

.service-card__img {
    margin-bottom: 30px;
}

.service-card__text {
    margin-bottom: 28px;
}

.service-card__title {
    margin-bottom: 20px;
}

.service-card__desc {
    height: 81px;

    font-family: var(--font-third);
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}

.service-card__btn {}