.slider__item {
    display: inline-block;
    position: relative;

    width: 520px;
    height: 649px;
    padding: 30px 4px 19px 20px;

    border-radius: 10px;
    background-color: #fff;

    cursor: pointer;
    transition: box-shadow 0.2s ease-in;
}

.slider__item:hover {

    & {
        box-shadow: 20px 24px 114px 0 #f5f5f5;
    }

    .slider__badge {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .btn-outline {
        justify-content: center;
        background-color: var(--accent);
        color: #fff;
    }

}

.slider__img {
    margin-bottom: 43px;

    width: 460px;
    height: 300px;
    overflow: hidden;

    img {
        width: 460px;
        height: 300px;
        pointer-events: none;
    }
}

.slider__badge {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;

    width: 75px;
    height: 75px;
    padding: 8px 17px;
    border-radius: 10px;
    background-color: #124f48;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #fff;

    transition: box-shadow 0.2s ease-in;
}

.slider__text {
    margin-bottom: 45px;
}

.slider__title {
    margin-bottom: 35px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #000;
}

.slider__desc {
    font-size: 18px;
    line-height: 1.67;
    color: var(--text-color);
}

.slider__arrow {
    position: absolute;
    top: 0;
    right: 0;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.5;
    }
}

.slider__arrow--left {
    margin-right: 38px;
}

.slider__arrow--right {}