.h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 1.25;
    color: var(--section-title);
    font-family: var(--font-secondary);
}

.h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.82;
    color: var(--section-title);
    font-family: var(--font-secondary);
}

.h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--section-title);
}