.achievements-card:not(:last-child) {
    margin-bottom: 45px;
}

.achievements-card__img {
    margin-bottom: 35px;

    width: 511px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;

    background-color: #edfffd;
    background-image: url('./../img/achievements/circle.svg');
    background-position: 51% 274%; // x y
    background-size: 506px 506px;
    background-repeat: no-repeat;

    img {
        position: relative;
        left: 50%;
        top: 71px;
        transform: translateX(-50%);

        width: 377px;
        height: 529px;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 21px 94px 0 rgba(131, 193, 186, 0.38);

        object-fit: cover;
        overflow: hidden;
      
    }

    &--lightBg {
        background-color:  #fff8f4;
        background-image: url('./../img/achievements/circle-light.svg');
        
        img {
            box-shadow: 0 34px 80px 0 rgba(80, 153, 145, 0.24);
        }
    }
}

.achievements-card__title {
    margin-bottom: 35px;
}

.achievements-card__desc {
    font-size: 18px;
    line-height: 2;
}

.achievements-card__btn {
    width: 245px;
}