.btn-video {
    position: relative;
    padding-left: 55px;
    padding-right: 36px;
    height: 57px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #ff823b;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        content: url("./../img/icons/header/play.svg");
        width: 39px;
        height: 39px;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 24px 0 #d6e2e1;
        line-height: 39px;
    }
}

.btn-solid {
    padding-left: 39px;
    padding-right: 39px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 57px;
    line-height: 57px;
    border-radius: 31px;
    background-color: #ff823b;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #fff;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #124f48;
    }

    &--login {
        background-color: #124f48;
    }

    &--login:hover {
        background-color: #ff823b;
    }

    &--view-more {
        padding-left: 36px;
        padding-right: 36px;
        column-gap: 12px;
    }

    &--subscribe {
        padding-right: 35px;
        column-gap: 26px;
    }
}

.btn-outline {
    position: relative;
    display: inline-block;
    height: 57px;
    width: 203px;

    border-radius: 31px;
    background-color: #fff;

    font-weight: 700;
    line-height: 57px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #124f48;

    svg {
        stroke: #124F48;
        transition: stroke 0.1s ease;
    }

    .btn-outline__text {
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.2s ease-in;

        &::after {
            display: block;
            width: 14px;
            height: 14px;

            position: absolute;
            content: "";
            top: 50%;
            right: 0;

            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' fill='none'%3e%3cpath stroke='%23124F48' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 8h14M12 1l7 7-7 7'/%3e%3c/svg%3e");
            background-position: center center; // x y
            background-size: 14px 14px;
            background-repeat: no-repeat;

            transform: translate(200%, -50%);
        }
    }

}

.service-card:hover,
.slider__item:hover {
    .btn-outline {
        background-color: #FF823B;
        color: #fff;

        svg {
            stroke: #fff;
        }

        .btn-outline__text {
            left: 40px;

            &::after {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' fill='none'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 8h14M12 1l7 7-7 7'/%3e%3c/svg%3e");
            }
        }
    }
}