.btn {
    display: inline-block;
    height: 57px;

    line-height: 57px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 31px;
}

.btn-video {
    position: relative;
    padding-left: 55px;
    padding-right: 36px;
    color: #ff823b;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L2.25 12.1292C1.58333 12.5141 0.749999 12.0329 0.749999 11.2631L0.75 1.73686C0.75 0.967058 1.58333 0.485934 2.25 0.870834L10.5 5.63397Z' fill='%23FF823B'/%3e%3c/svg%3e");
        background-position: center center; // x y
        background-size: 15px 15px;
        background-repeat: no-repeat;

        content: "";
        width: 40px;
        height: 40px;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 24px 0 #d6e2e1;
        line-height: 39px;
    }
}

.btn-solid {
    padding-left: 39px;
    padding-right: 39px;

    background-color: #ff823b;
    color: #fff;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #124f48;
    }

    &--login {
        background-color: #124f48;

        &:hover {
            background-color: #ff823b;
        }
    }

    &--view-more {
        padding-left: 36px;
        padding-right: 63px;
    }

    &--subscribe {
        padding-right: 75px;
    }

    .btn-solid__text {
        position: relative;

        &::after {
            display: block;
            width: 14px;
            height: 14px;

            position: absolute;
            content: "";
            top: 50%;
            right: 0;

            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' fill='none'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 8h14M12 1l7 7-7 7'/%3e%3c/svg%3e");
            background-size: 14px 14px;

            transform: translate(200%, -50%);
        }
    }

}

.btn-outline {
    position: relative;
    display: inline-block;
    width: 203px;

    background-color: #fff;
    color: #124f48;

    transition: background-color 0.2s ease-in;

    .btn-outline__text {
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.2s ease-in;

        &::after {
            display: block;
            width: 14px;
            height: 14px;

            position: absolute;
            content: "";
            top: 50%;
            right: 0;

            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' fill='none'%3e%3cpath stroke='%23124F48' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 8h14M12 1l7 7-7 7'/%3e%3c/svg%3e");
            background-size: 14px 14px;

            transform: translate(200%, -50%);
        }
    }

}

.service-card:hover, .slider__item:hover {
    .btn-outline {
        background-color: #ff823b;
        color: #fff;

        .btn-outline__text {
            left: 40px;

            &::after {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' fill='none'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 8h14M12 1l7 7-7 7'/%3e%3c/svg%3e");
            }
        }
    }
}