
.btn-video {
    position: relative;
    padding-left: 55px;
    padding-right: 36px;
    height: 57px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #ff823b;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        content: url("./../img/icons/header/play.svg");
        width: 39px;
        height: 39px;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 24px 0 #d6e2e1;
        line-height: 39px;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 57px;
    line-height: 57px;
    border-radius: 31px;
    background-color: #ff823b;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #fff;
}

.btn-outline {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
    height: 57px;
    border-radius: 31px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #124f48;
    background-color: #fff;
    transition: all 0.2s ease-in;

    svg {
        stroke: #124F48;
    }

    &:hover {
        justify-content: center;
        padding-left: 39px;
        padding-right: 35px;

        background-color: #ff823b;
        color: #fff;

        svg {
            stroke: #fff;
        }
    }
}

.btn--solid {
    padding-left: 39px;
    padding-right: 39px; 
}

.btn--login {
    padding-left: 39px;
    padding-right: 39px; 
    background-color: #124f48;
}

.btn--view-more {
    padding-left: 36px;
    padding-right: 36px;
    column-gap: 12px;
}

.btn-slider:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;

    height: 57px;
    padding-left: 39px;
    padding-right: 35px;

    border-radius: 31px;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #fff;
}

.btn--subscribe {
    height: 57px;
    padding-left: 39px;
    padding-right: 35px;

    column-gap: 26px;
}


