.data-grid {
    margin-left: auto;
    width: 465px;
    height: 410px;
}

.data-grid li {
    padding: 14px 0;
    display: grid;
    grid-template-columns: 83px 162px 1fr;
    column-gap: 38px;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.data-grid__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.44;
    color: rgba(18, 79, 72, 0.37);
}

.data-grid__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    color: #124f48;
}

.data-grid__desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    color: #ff823b;
}