.data-grid {
    width: 510px;
    height: 410px;
}

.data-grid li {
    display: grid;
    grid-template-columns: 83px 150px auto;
    column-gap: 38px;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 44px;
    }
}

.data-grid__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    color: rgba(18, 79, 72, 0.37);
}

.data-grid__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #124f48;
}

.data-grid__desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    color: #ff823b;
}