// Ширина и высота линии в иконке
$lineWidth: 40px;
$lineHeight: 5px;
$color: rgb(0, 0, 0);

// Размеры контейнера
$width: $lineWidth;
$height: $lineHeight * 5;

.nav-icon {
    width: $width;
    height: $height;

    display: none;
	justify-content: center;
	align-items: center;

    cursor: pointer;
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: $color;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: $lineWidth;
        height: $lineHeight;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        background-color: $color;
    }

    &::before {
        top: -($lineHeight*2);
    }

    &::after {
        top: $lineHeight*2;
    }
}

/* Active state */
.nav-icon.nav-icon--active {
    z-index: 6;
    position: fixed;
    top: 33px;
    right: 12px;
}

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        background-color: $color;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
