.service-card {
    padding: 50px 25px 45px 30px;
    display: block;
    width: 364px;
    height: 415px;

    cursor: pointer;
    transition: all 0.2s ease-in;

    &:not(:last-child) {
        margin-right: 16px;
    }
}

.service-card:hover {
    background-color: #fff;
    box-shadow: 0 20px 84px 0 rgba(245, 245, 245, 0.8);

    .btn-outline {
        padding-left: 39px;
        padding-right: 35px;
        justify-content: center;
        background-color: #ff823b;
        color: #fff;

        svg {
            stroke: #fff;
        }
    }

    .service-card__img svg {
        box-shadow: 30px 44px 84px 0 rgba(208, 211, 231, 0.31);
    }
}

.service-card__img {
    margin-bottom: 27px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #dbffe9;
    border-radius: 20px;
    overflow: hidden;

    transition: box-shadow 0.1s ease-in;

    &--clip {
        background-color: #fff7ca;
    }

    &--pie {
        background-color: #ffe9e0;
    }

}

.service-card__text {
    margin-bottom: 10px;
}

.service-card__title {
    margin-bottom: 35px;

    display: -webkit-box;
    -webkit-box-orient: vertical; // Если конец тсроки обрезан, то добавляет многоточие
    -webkit-line-clamp: 1; // Ограничиваем кол-во строк текста
    overflow: hidden;
}

.service-card__desc {
    height: 81px;

    font-family: var(--font-third);
    font-size: 18px;
    line-height: 2;

    display: -webkit-box;
    -webkit-box-orient: vertical; // Если конец тсроки обрезан, то добавляет многоточие
    -webkit-line-clamp: 2; // Ограничиваем кол-во строк текста
    overflow: hidden;
}

.service-card__btn {
    width: 206px;
}