.slider__item {
    display: inline-block;
    width: 520px;
    height: 649px;

    border-radius: 10px;
    background-color: #fff;

    cursor: pointer;
    transition: all 0.2s ease-in;
}

.slider__item:hover {

    // & {
    //     box-shadow: 20px 24px 114px 0 #f5f5f5;
    // }

    .slider__img img {
        filter: saturate(130%);
    }

    .btn-outline {
        transform: translateX(0);
        background-color: var(--accent);
        color: #fff;

        svg {
            stroke: #fff;
        }
    }

}

.slider__img {
    margin-bottom: 43px;
    padding-top: 18px;

    position: relative;
    width: 510px;
    height: 328px;

    text-align: center;
    overflow: hidden;

    img {
        transition: all 0.2s ease-in;
        pointer-events: none;
    }
}

.slider__badge {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;

    width: 75px;
    height: 75px;
    padding: 8px 17px;
    border-radius: 10px;
    background-color: #124f48;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #fff;

    transition: all 0.2s ease-in;
}

.slider__text {
    margin-bottom: 45px;
    padding-right: 4px;
}

.slider__title {
    margin-bottom: 35px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #000;
}

.slider__btn {
    width: 207px;
}

.slider__desc {
    height: 90px;
    font-size: 18px;
    line-height: 1.67;
    color: var(--text-color);
    overflow: hidden;

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical; // Если конец тсроки обрезан, то добавляет многоточие
        -webkit-line-clamp: 3; // Ограничиваем кол-во строк текста
        overflow: hidden;
    }

}

.slider__arrow {
    position: absolute;
    top: 0;
    right: 0;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.5;
    }
}

.slider__arrow--left {
    margin-right: 38px;
}