.container {
    padding: 0 var(--container-padding);
    max-width: 1145px;
    margin: 0 auto;

    @media (max-width: 1199px) {
        width: 900px;
    }

    @media (max-width: 899px) {
        width: 768px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}

.container-wide {
    margin: 0 auto;
    max-width: 1320px;
    
}



