.container {
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
    margin: 0 auto;

    @media (max-width: 1199px) {
        width: 900px;
    }
}

.container-wide {
    padding: 0 var(--container-padding);
    max-width: 1145px;
    margin: 0 auto;
}

.container-figure {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: 1349px;
}

