.svg-ln {
    width: 18px;
    height: 18px;
}

.svg-tw {
    width: 18px;
    height: 18px;
}

.svg-sky {
    width: 18px;
    height: 18px;
}

.svg-fb {
    width: 18px;
    height: 18px;
}

.svg-inst {
    width: 18px;
    height: 18px;
}