:root {
    --container-width: 1140px;
    --container-padding: 15px;

    --font-main: "Roboto", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --font-third: "Open Sans", sans-serif;

    --page-bg: #fff;
    --header-bg: #e9fbf9;
    --bage-bg: #fff;

    --text-color: #464646;
    --section-title: #021d1a;
    --accent: #ff823b;
    --accent-second: #124f48;
    --accent-second-muted: rgba(18, 79, 72, 0.37);
    --bage-text: #ff6107;

    --laptop-size: 1199px;
    --table-size: 959px;
    --mobile-size: 599px;
}
